html, body {
  margin: 0px;
}

body {
  font-family: 'Press Start 2P', cursive;
  background: #999;
}

#canvas {
  display: block;
  margin: auto;
  margin-top: 40px;
}

#stats {
  position: absolute;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

#stats ul li {
  list-style-type: none;
}
